.map{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: calc(100vw);
    height: calc(100vh);
    box-sizing: border-box;
    overflow: hidden;
    padding: 66px 20px 66px;
    /*margin-top: 56px;*/
    position: fixed;
    background-image: url("https://wsqckonnaqawhrefbujn.azureedge.net/assets/images/205ec5.jpg");
}

.map>div{
    width: calc(100%);
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    color: #fff;
}

@media (max-width: 640px) {
    .map>div {
        border: 1px white dashed;
        font-size: 0;
    }
    .map>div:has(.star) {
        border: 0;
        font-size: 0;
    }
}

.star{
    cursor: pointer;
    transition: .2s;
}
.map>div:hover .star{
    scale: 1.5;
}

.RED{
    box-shadow: 0 0 10px #B0322E, 0 0 30px #F0443E, 0 0 80px #FF4842;
    background-color: #B0322E;
}
.YELLOW{
    box-shadow: 0 0 10px #FFDA33, 0 0 30px #F0CD30, 0 0 80px #B39824;
    background-color: #FFDA33;
}
.BLUE{
    box-shadow: 0 0 10px #5271FF, 0 0 30px #4D6BF0, 0 0 80px #3950B3;
    background-color: #5271FF;
}
.GREEN{
    box-shadow: 0 0 10px #00FF5E, 0 0 30px #00D64F, 0 0 80px #00B343;
    background-color: #00FF5E;
}
.HIDE{
    display: none;
}

.star.pulse{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(1.9);
    }

    100% {
        transform: scale(1.2);
    }
}
